#event {
	width: 100%;
	margin: auto;
}

.event-header {
	background-color: $red;
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-header > span {
	height: 260px;
	width: 260px;
	background-color: $red;
	border-radius: 130px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.event-header > span > span {
	height: 230px;
	width: 230px;
	border: 8px solid white;
	border-radius: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.event-header > span > span > span {
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 10px;
	display:flex;
	position: relative


}

.event-header > span > span > span >span {
	height: 90px;
	width: 60px;
	margin-left: 50%;
	border-left: 8px solid white;
	border-bottom: 8px solid white;
	margin-bottom: 45%;
	position: absolute;
	bottom: -4px;
	left: -4px;
}


.header-date{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	margin-right: 20px;
	margin-left: 20px;

}
.header-date > span:first-child{
	font-size: 30px;
	line-height: 35px;
}

.event-info {
	margin-top: 120px;
	margin-bottom: 80px;
	color: $red;
}

.event-info i {
font-size: 70px;
text-align: center;

}

.event-info-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.event-info-section * {
margin: 0;
}

.event-info-section > span {
	margin-left: 20px;
}

.event-info-section p {
	font-size: 18px;
	color: $main-font;
}

.event-description {

}

.event-description .panel-heading {
	background-color: $red;
	color: white;
}

.event-description .panel-body {
	border: 1px solid $red;
}