.workspace{
	margin-bottom: auto;
	display: flex;
	flex: 1;
}

.dashboard{

}

.sidebar{
	background-color: $main-font;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.sidebar > a{
	color: white;
	padding: 10px;
	font-size: 20px;
	text-decoration: none;
	display: block;
}

.sidebar > a:hover {
	font-weight: bold;
}